.stats-bar-green {
    height: 10px;
    background-color: #73E556;
    opacity: .5
}

.stats-bar-red {
    height: 10px;
    background-color: #F23F3F;
    opacity: .4
}

.stats-bar-grey {
    height: 10px;
    background-color: #000001;
    opacity: .25
}
.stats-correct-text
{
    color: #73E556;
}
.stats-incorrect-text
 {
     color: #F23F3F;
 }
.stats-normal-text
{
    color: #444444;
}
 a:hover{
    text-decoration: none;
}