<!DOCTYPE html>
<html lang="en-us">
	<head>
		<title> Therobot Animation Creator </title>

        <link rel="stylesheet" type="text/css" href="../static/css/uikit.min.css" />
        <link rel="stylesheet" type="text/css" href="../static/css/chapter_select.css">

	</head>
	<body>

		<script src="../static/js/jquery-3.2.1.min.js"></script>
		<script src="../static/js/uikit.min.js"></script>
		<script src="../static/js/uikit-icons.min.js"></script>
		<script src="../static/js/chapter_select.js"></script>
		
		<div>
			<h1 class="uk-heading-line uk-text-center"><span>QuizGEN Online</span></h1>
			<ul id="chapterlist" class="uk-margin-left uk-list uk-list-divider">
				<li id="cpsl" class="uk-margin-medium-left">
					<form class="uk-grid-margin" uk-grid>
						<legend class="uk-legend">Select a chapter.</legend>			
						<select id="select1" class="uk-select uk-width-1-3">
							<option value="Chapter 1">Chapter 1</option>
							<option value="Chapter 2">Chapter 2</option>
							<option value="Chapter 3">Chapter 3</option>
							<option value="Chapter 4">Chapter 4</option>
						</select>
						<div class="uk-width-2-3"></div>
							<input class="uk-input uk-width-1-3" type="number" placeholder="Questions from chapter.">
						<div class="uk-width-2-3"></div>
						<p class="uk-text-muted"><input id="cb1" class="uk-checkbox" type="checkbox">Add Chapter</p>
					</form>
				</li>
			</ul>
			<button class="uk-margin-medium-right">Submit</button>
		</div>