<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>QuizGen</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script th:src="@{js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/uikit.min.js}" src="../static/js/uikit.min.js"></script>
    <script th:src="@{/js/uikit-icons.min.js}" src="../static/js/uikit-icons.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/uikit.min.css}" href="../static/css/uikit.min.css"/>
    <script th:src="@{js/quizcreator.js}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            getChapters();
        });
    </script>
</head>
<body>

<div class="uk-section uk-section-default uk-text-left" style="margin-bottom: 0;padding-bottom: 0;padding-top:0;">
    <h2 class="uk-heading-bullet" style="margin-left:20px;">Take Quiz</h2>
</div>

<div class="uk-section uk-section-default" style="margin-top: 0;">
    <div class="uk-container">
        <form class="uk-form-horizontal" th:action="@{/quiz/}" method="post" th:object="${quizParam}"
              onsubmit="return validateFirstForm(this)">
            <div>
                <label class="uk-form-label">Choose Chapter(s)</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-form-width-large" id="chapters" th:field="*{chapterIds}"
                            multiple="multiple">
                    </select>
                </div>
            </div>
            <div>
                <div class="uk-form-label">Number of Questions</div>
                <div class="uk-form-controls uk-form-controls-text">
                    <input class="uk-input uk-form-width-large" type="number" th:field="*{numQuestions}"/>
                </div>
            </div>
            <div style="margin-top:10px;">
                <div class="uk-form-label"></div>
                <div class="uk-form-controls uk-form-width-large">
                    <input class="uk-align-right uk-button uk-button-secondary uk-form-width-medium" type="submit"
                           value="Submit"/>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>