<!DOCTYPE HTML>
<html>
<head>
    <title>QuizGen</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/quizcreator.js"></script>
    <script type="text/javascript">
        $(document).ready(function()
        {
            getQuiz();
        });
    </script>
</head>
<body>
<h1><a href="/quizgen/site/" >QuizGen</a></h1>
<div id="content"></div>
<div id="stats">
    <table>
        <tr>
            <td> Correct Answer: </td>
            <td> 10</td>
        </tr>
        <tr>
            <td> Incorrect Answer: </td>
            <td> 2</td>
        </tr>
        <tr>
            <td> Total People took this quiz: </td>
            <td> 22</td>
        </tr>
    </table>
</div>
</body>
</html>