<!DOCTYPE html>
<html lang="en-us">
	<head>
		<title> Therobot Animation Creator </title>

        <link rel="stylesheet" type="text/css" href="../static/css/uikit.min.css" />
	</head>
	<body>

		<script src="../static/js/jquery-3.2.1.min.js"></script>
		<script src="../static/js/uikit.min.js"></script>
		<script src="../static/js/uikit-icons.min.js"></script>

        <div class="uk-child-width-1-1 uk-grid-small uk-grid-match" uk-grid>
            <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">This is an exmaple question that has a bit of length to it to make sure that this card is working as it should be working.</h3>
                <p>
                    <br>1) This is the first answer.</br>
                    <br>2) Answer 2</br>
                    <br>3) The third answer</br>
                    <br>4) Maybe the fourth answer is correct</br>
                </p>
            </div>
            <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">This is an exmaple question that has a bit of length to it to make sure that this card is working as it should be working.</h3>
                <p>
                    <br>1) This is the first answer.</br>
                    <br>2) Answer 2</br>
                    <br>3) The third answer</br>
                    <br>4) Maybe the fourth answer is correct</br>
                </p>
            </div>
            <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">This is an exmaple question that has a bit of length to it to make sure that this card is working as it should be working.</h3>
                <p>
                    <br>1) This is the first answer.</br>
                    <br>2) Answer 2</br>
                    <br>3) The third answer</br>
                    <br>4) Maybe the fourth answer is correct</br>
                </p>
            </div>
        </div>

		<!--<script src="file.js"></script>-->

	</body>
</html>
